os: linux
sudo: required
language: python
cache: pip
python: 
  - "3.5"
  - "3.6"
  - "pypy3.5"
before_install:
  - docker run -e MYSQL_ROOT_PASSWORD=니-비밀번호 -d -p 3306:3306 mysql 
install:
  - pip3 install -r requirements.txt
  - pip3 install coveralls
script:
  - pytest
before_script:
  - cd server
after_success:
  - coverage report
  - coveralls
