os: linux
sudo: required
language: python
cache: pip
python: 
  - "3.5"
  - "3.6"
  - "pypy3.5"
services:
  - mysql
addons:
  apt:
    sources:
      - mysql-5.7-trusty
    packages:
      - mysql-server
      - mysql-client
before_install:
  - mysql -e 'CREATE DATABASE dingdong;'
install:
  - pip3 install -r requirements.txt
  - pip3 install coveralls
before_script:
  - cd server
after_success:
  - coverage report
  - coveralls
